.todoItem {
	text-align: left;
}

.todoItemContainer {
	background-color: #1d222c;
	padding: 1rem;
	transition: all .2s ease-in-out;
}

.todoItemContainer:hover {
	transform: scale(1.01);
	filter: brightness(1.3);
}

.button {
	margin-right: 1rem;
	margin-top: 0.5rem;
}

.importantTag {
	color: red;
}

.completedText {
	text-decoration: line-through;
	color: #808080;
}

.completed {
	filter: brightness(0.7);
}

.completed:hover {
	--hover-boost: -0.5;
	filter: brightness(0.85);
}

@media (min-width: 768px) {
	.button {
		margin-right: 1rem;
		padding: 0.5rem;
		width: 2.5rem;
	}
}