.todoItem {
	text-align: left;
}

.todoItemContainer {
	background-color: #1d222c;
	padding: 1rem;
}

.button {
	margin-right: 1rem;
	margin-top: 0.5rem;
}

.completed {
	text-decoration: line-through;
	color: #808080;
}

@media (min-width: 768px) {
	.button {
		margin-right: 1rem;
		padding: 0.5rem;
		width: 4rem;
	}
}